
<div id="case-study">

	<%= link_to root_path(:anchor => "projects") do %>
		<div class="breathing-room">&larr; Example Projects</div>
	<% end %>

	<h2>CATCH Global Foundation: <span class="sub-title">Web Application for Digital Curriculum</span></h2>
	<section>
		<div class="case-container">
			<div class="case-img">
				<img src="/assets/catch1.jpg" alt="CATCH Global banner image">
			</div>
			<div class="case-txt">
				<h3>Background</h3>

				<p>CATCH is a wonderful organization and we believe strongly in their mission. By impacting a child’s nutrition, level of physical activity, classroom environment and community, <a href="http://catchinfo.org/" target="_blank">CATCH</a> has changed lives in over 10,000 schools and communities nationwide.</p>
				<p><a href="http://catchinfo.org/about/catch-global-foundation/" target="_blank">CATCH Global Foundation</a> is a 501(c)3 public charity founded in 2014. Their mission is to improve children’s health worldwide by developing, disseminating and sustaining the CATCH platform.</p>
				<p>The CATCH curriculum is solely paper-based, and we were brought on to help them create a digital version.</p>
				<!-- <span>Learn More: </span> -->
<!-- 					<audio controls>
						<source src="audio/Test.mp3" type="audio/mpeg">
				</audio>  -->
			</div>
			<div class="clearfix"></div>
			</div>	
	</section>	
	<section>
		<div class="case-container">
			<div class="case-img">
				<img src="/assets/catch2.jpg" alt="CATCH Curriculum">
			</div>
			<div class="case-txt">
				<h3>Initial research</h3>

				<p>Our engagement began with meetings with Duncan, the Executive Director of CATCH Global Foundation, and with members of the CATCH staff. We also conducted preliminary interviews with stakeholders that were users of the current version of the CATCH curriculum.</p>
				<p>Through high-level market research, these meetings, and our interviews, we began to get a sense of the problem that Digital CATCH was trying to solve, and what a solution to that problem might look like.</p>

			</div>
			<div class="clearfix"></div>
			</div>	
	</section>	
	<section>
		<div class="case-container">
			<div class="case-img">
				<img src="/assets/catch3.jpg" alt="CATCH RFP">
			</div>
			<div class="case-txt">
				<h3>Engaging vendors</h3>

				<p>We crafted a request for proposals, and disseminated it to vendors that we hand-picked because of their track-record and their fit with the project. We facilitated conference calls with interested vendors, and along with Duncan, answered their questions about the project, and asked questions of our own.</p>
				<p>When proposals were submitted, we worked with Duncan to help him narrow down his choices, and he selected a finalist to engage in a full discovery process for Digital CATCH.</p>
			</div>
			<div class="clearfix"></div>
			</div>	
	</section>	
	<section>
		<div class="case-container">
			<div class="case-img">
				<img src="/assets/catch4.jpg" alt="CATCH Project">
			</div>
			<div class="case-txt">
				<h3>Product management</h3>

				<p>Duncan elected to extend our engagement past the vendor selection phase to have us help manage the project. We are working with the vendor to guide their work and to give them support. </p>
				<p>We will support decisions on the design of Digital CATCH, and advise on appropriate project scoping, appropriate timeline, and appropriate cost.</p>
				<p>Success or failure happens in the details, so we will act on CATCH Global Foundation's behalf to do whatever is needed to ensure the success of Digital CATCH.</p>
<!-- 					<audio controls>
						<source src="audio/Test.mp3" type="audio/mpeg">
				</audio>  -->
			</div>
			<div class="clearfix"></div>
			</div>	
	</section>	

	<%= link_to root_path(:anchor => "projects") do %>
		<div class="breathing-room">&larr; Example Projects</div>
	<% end %>

</div> 


