
<div id="case-study">

	<%= link_to root_path(:anchor => "projects") do %>
		<div class="breathing-room">&larr; Example Projects</div>
	<% end %>

	<h2>MD Anderson Cancer Center: <span class="sub-title">Virtual Training Environment for Physicians</span></h2>
	<section>
		<div class="case-container">
			<div class="case-img">
				<img src="/assets/mdvirtual1.jpg" alt="Stuttering Institute Website Screenshot">
			</div>
			<div class="case-txt">
				<h3>Background</h3>

				<p>The University of Texas <a href="http://www.mdanderson.org/" target="_blank">MD Anderson Cancer Center</a> is one of the premier cancer treatment centers in the world. Their mission is to eliminate cancer in Texas, the nation, and the world through outstanding programs that integrate patient care, research and prevention, and through education for undergraduate and graduate students, trainees, professionals, employees and the public.</p>
				<p>This was a grant-funded project to develop a virtual environment to train health professionals how to help their patients quit smoking.</p>
				<!-- <span>Learn More: </span> -->
<!-- 					<audio controls>
						<source src="audio/Test.mp3" type="audio/mpeg">
				</audio>  -->
			</div>
			<div class="clearfix"></div>
			</div>	
	</section>	
	<section>
		<div class="case-container">
			<div class="case-img">
				<img src="/assets/mdvirtual2.jpg" alt="Founding Director of Stuttering Institute">
			</div>
			<div class="case-txt">
				<h3>Initial research</h3>

				<p>We had a series of meetings with the Principal Investigator of the grant, and with various other stakeholders at MD Anderson. After these initial conversations we were able to discuss various approaches and then provide a scope of work for the project.</p>

			</div>
			<div class="clearfix"></div>
			</div>	
	</section>	
	<section>
		<div class="case-container">
			<div class="case-img">
				<img src="/assets/mdvirtual3.jpg" alt="Stuttering Institute RFP">
			</div>
			<div class="case-txt">
				<h3>Design</h3>

				<p>Subject matter experts at MD Anderson provided us scripts of multiple patient/physician scenarios that provided the basis for the instructional content and user interactions.</p>
				<p>After discussing different user interaction models, we worked with a designer to create wireframes and mockups so that the MD Anderson staff could provide feedback and approve a final design.</p>
			</div>
			<div class="clearfix"></div>
			</div>	
	</section>	
	<section>
		<div class="case-container">
			<div class="case-img">
				<div class="case-video">
					<iframe src="https://www.youtube.com/embed/s2DDzHEKqyY" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="case-txt">
				<h3>Development</h3>

				<p>A media team at MD Anderson recorded voice actors and provided us with the audio files. We used these recordings to build the 6 scenarios.</p>
				<p>We developed the entire training system in the Unity 3D environment so that it is accessible to anyone with a web browser.</p>
				<p>The system was also designed so that additional scenarios could be added with minimal intervention from programmers, providing flexibility for the future.</p> <p>Play the video to see it in action.</p>

<!-- 					<audio controls>
						<source src="audio/Test.mp3" type="audio/mpeg">
				</audio>  -->
			</div>
			<div class="clearfix"></div>
			</div>	
	</section>	

	<%= link_to root_path(:anchor => "projects") do %>
		<div class="breathing-room">&larr; Example Projects</div>
	<% end %>

</div> 
