
<div id="case-study">

	<%= link_to root_path(:anchor => "projects") do %>
		<div class="breathing-room">&larr; Example Projects</div>
	<% end %>

	<h2>Michael and Tami Lang Stuttering Institute: <span class="sub-title">Web Application to Train Clinicians</span></h2>
	<section>
		<div class="case-container">
			<div class="case-img">
				<img src="/assets/stuttering-institute1.jpg" alt="Stuttering Institute Website Screenshot">
			</div>
			<div class="case-txt">
				<h3>Background</h3>

				<p>The mission of the University of Texas <a href="http://moody.utexas.edu/stuttering" target="_blank">Michael and Tami Lang Stuttering Institute</a> is to help persons who stutter, their families, and their clinicians through the sharing of evidence based practices, the implementation of cutting edge clinical training methodologies, and the completion of innovative research with specific focus on translating theory to practice.</p>
				<p>Most persons who stutter are provided services by speech-language pathologists who have limited to no knowledge regarding evidence-based practice for stuttering. The Stuttering Institute wants to help address this problem by creating the Simulated Training in Evidence-based Practice for Stuttering (STEPS).</p>
				<p>STEPS is a web application that will allow students and practicing clinicians to observe and analyze a wide range of clinical scenarios and make complex decisions in the absence of client risk.</p>
				<!-- <span>Learn More: </span> -->
<!-- 					<audio controls>
						<source src="audio/Test.mp3" type="audio/mpeg">
				</audio>  -->
			</div>
			<div class="clearfix"></div>
			</div>	
	</section>	
	<section>
		<div class="case-container">
			<div class="case-img">
				<img src="/assets/stuttering-institute2.jpg" alt="Founding Director of Stuttering Institute">
			</div>
			<div class="case-txt">
				<h3>Initial research</h3>

				<p>Our engagement began with meetings with Courtney, the Founding Director of the Stuttering Institute. We were able to get very productive guidance from her, and from survey and focus group results from her students.</p>
				<p>Through this initial research, we were able to shape the outlines for what the STEPS system might look like.</p>

			</div>
			<div class="clearfix"></div>
			</div>	
	</section>	
	<section>
		<div class="case-container">
			<div class="case-img">
				<img src="/assets/stuttering-institute3.jpg" alt="Stuttering Institute RFP">
			</div>
			<div class="case-txt">
				<h3>Engaging vendors</h3>

				<p>We crafted a request for proposals, and it was disseminated to vendors under contract with the University of Texas.</p>
				<p>When the proposals were submitted, we worked with Courtney to help her narrow down her choices, and she selected a finalist to build a prototype version of the STEPS system.</p>
			</div>
			<div class="clearfix"></div>
			</div>	
	</section>	
	<section>
		<div class="case-container">
			<div class="case-img">
				<img src="/assets/stuttering-institute4.jpg" alt="Stuttering Institute Wireframes">
			</div>
			<div class="case-txt">
				<h3>Wireframes and grant guidance</h3>

				<p>Over time, Courtney hopes to further develop STEPS through grant funding. We created a set of user interface wireframes, and a summary of our research that she could use in her grant proposals.</p>
				<p>Most grant writers try to cast a project vision using words alone, and often the author has nothing more than a vague idea of what the final product might look like, or how feasible it is to develop.</p>
				<p>Wireframes and mockups are a great way to show grant funders a concrete vision of what they are funding, and it demonstrates the author has given serious thought to the implementation details of their project.</p>
<!-- 					<audio controls>
						<source src="audio/Test.mp3" type="audio/mpeg">
				</audio>  -->
			</div>
			<div class="clearfix"></div>
			</div>	
	</section>	

	<%= link_to root_path(:anchor => "projects") do %>
		<div class="breathing-room">&larr; Example Projects</div>
	<% end %>
	
</div> 
