

body {
  font-size: 100%;
  text-align: center;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  font-style: sans-serif;
}

nav {
  width: 100%;
  background-color: #000;
  opacity: 1;
  // position: fixed;
  top: 0px;
  background: #b4ddb4; /* Old browsers */
  background:
    -webkit-linear-gradient(45deg, hsla(117, 42%, 36%, 1) 0%, hsla(117, 42%, 36%, 0) 70%),
    -webkit-linear-gradient(315deg, hsla(203, 48%, 61%, 1) 10%, hsla(203, 48%, 61%, 0) 80%),
    -webkit-linear-gradient(225deg, hsla(200, 62%, 59%, 1) 10%, hsla(200, 62%, 59%, 0) 80%),
    -webkit-linear-gradient(135deg, hsla(210, 50%, 67%, 1) 100%, hsla(210, 50%, 67%, 0) 70%);
  background:
    linear-gradient(45deg, hsla(117, 42%, 36%, 1) 0%, hsla(117, 42%, 36%, 0) 70%),
    linear-gradient(135deg, hsla(203, 48%, 61%, 1) 10%, hsla(203, 48%, 61%, 0) 80%),
    linear-gradient(225deg, hsla(200, 62%, 59%, 1) 10%, hsla(200, 62%, 59%, 0) 80%),
    linear-gradient(315deg, hsla(210, 50%, 67%, 1) 100%, hsla(210, 50%, 67%, 0) 70%);
    
  // background: -moz-linear-gradient(left, #b4ddb4 0%, #52b152 0%, #3e7142 0%, #58936e 34%, #74b3ba 70%, #77BAE8 100%); /* FF3.6+ */
  // background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b4ddb4), color-stop(0%,#52b152), color-stop(0%,#3e7142), color-stop(34%,#58936e), color-stop(70%,#74b3ba), color-stop(100%,#77BAE8)); /* Chrome,Safari4+ */
  // background: -webkit-linear-gradient(left, #b4ddb4 0%,#52b152 0%,#3e7142 0%,#58936e 34%,#74b3ba 70%,#77BAE8 100%); Chrome10+,Safari5.1+
  // background: -o-linear-gradient(left, #b4ddb4 0%,#52b152 0%,#3e7142 0%,#58936e 34%,#74b3ba 70%,#77BAE8 100%); /* Opera 11.10+ */
  // background: -ms-linear-gradient(left, #b4ddb4 0%,#52b152 0%,#3e7142 0%,#58936e 34%,#74b3ba 70%,#77BAE8 100%); /* IE10+ */
  // background: linear-gradient(to right, #b4ddb4 0%,#52b152 0%,#3e7142 0%,#58936e 34%,#74b3ba 70%,#77BAE8 100%); /* W3C */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#71afd0',GradientType=1 );
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 100;
}

h1 {
    font-size: 1.5em;
    font-weight: 100;
}

label {
  margin-top: 30px;
}

ol li {
  text-align: left;
}

// Needs latest Compass, add '@import "compass"' to your scss
// Permalink - use to edit and share this gradient:
// http://colorzilla.com/gradient-editor/#b4ddb4+0,83c783+22,52b152+46,52b152+46,007dcc+100,002400+100


.header-banner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1px 10px;
}

.header-banner h1{
  display: inline-block;
  color: white;
}

.logo {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: -7px;
  vertical-align: baseline;
}

.tile-holder {
  max-width: 810px;
  margin: 0 auto;
}

#notice, .alert {
  width: 50%;
  padding: 5px;
  margin: 5px auto;
  color: #58936E;
  font-size: 1.5em;
}

.tile {
  width: 180px;
  float: left;
  margin: 20px 10px 0 10px;
}

.tile h3 {
  /* color: #64a5d7; */
  color: #555;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.2em;
}

.tile-inner {
  height: 220px;
  border: 1px #58936E solid;
  border-radius: 2px;
  padding: 10px 10px;
  position: relative;
}

a .tile-inner:hover {
  background-color: rgba(197, 227, 193, .2);
}

.semi {
  opacity: .4;
}

.tile-icon {
  font-size: 3.5em;
}

.tile-author {
  position: absolute;
  bottom: 3px; 
  opacity: .6;
  font-size: .8em;
}

.panel {
  width: 80%;
  padding: 40px;
  max-width: 400px;
  margin: 0 auto;
}

.wide {
  width: 80%;
  padding: 40px;
  max-width: 700px;
  margin: 0 auto;
}

.post-links {
  clear: both; 
  text-align: left;
  margin: 0 0 0 15px;
  padding-top: 20px;
}


.post-container, .info-container {
  width: 100%;
  max-width: 800px;
  margin: 0px auto;
  padding-top: 20px;
  padding-bottom: 15px;
}

.post-container .edit-icons {
  font-size: 1.5em;
}

.post-body {
  text-align: left;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 0 40px;
}

.post-body,
.post-body p {
  font-size: 1em;
  line-height: 1.6em;
  color: #333;
  font-weight: 300;
}

#infographic {
  margin-top: 40px;
}

#infographic section,
#case-study section {
  padding: 10px 10px;
}

#infographic p,
#case-study p {
  font-size: 1em;
  margin: 10px 0px 15px 0;
  font-weight: 300;
  color: #333;
}

#infographic h2,
#case-study h2 {
  padding: 40px 20px;
  color: #555;
}

.left-text h3 {
  color: #64a5d7;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 300;
}

.right-text h3 {
  color: #64a5d7;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 300;
  color: #4a995a;
}

.left-text, .left-img {
  float: left;
}

.right-text, .right-img {
  float: right;
}

#infographic .typcn {
  
}

.left-img {
  color: #4a995a;
}

.right-img {
  color: #64a5d7;
}

.small-icon {
  font-size: 18px;
}

.left-text, .right-text {
  width: 66%;
  text-align: left;
  margin: 0 4%;
}

.right-img, .left-img {
  width: 20%;
  overflow: visible;
  margin: 0 3%;
  margin-top: -20px;
  font-size: 120px;
}

.bordered-section-light {
  background-color: #effbf2;
}

.fr-box {
  margin-bottom: 40px;
}

.actions {
  margin-top: 30px;
}

.icon-options-link {
  font-size: .8em;
  margin: 0 0 -10px 0;  
}


// 
// 
// Expanding Text CSS
// 
// 
.hidden {
  display: none;
}

.expand-button, .less-button {
  // background-color: #eee;
  /*display: inline-block;*/
  cursor: pointer;
  padding: 6px 8px;
  border: 1px solid;
  border-radius: 4px;
  color: #777;
  font-size: 12px;
  white-space: nowrap;
  opacity: .9;
  /*margin-left: 10px;*/
}

.left-text .expand-button {
  color: #64a5d7;
  border: 1px #64a5d7 solid;
}

.right-text .expand-button {
  color:  #4a995a;
  border: 1px #4a995a solid;
}


.expand-button:before {
  content: '\2193 \0000a0 Read More';
}

.less-button:before {
  content: '\2191 \0000a0 Less';
}

.expand-button.media-audio:after {
  content: ' \1f508';
  /*content: ' \25b6';*/
}

.expand-button.media-video:after {
  content: ' \1f508';
  /*content: ' \25b6';*/
}

.expand-button.media-video:after {
  content: '\0000a0 \1f3a5';
  /*content: ' \25b6';*/
}

.expand-button:hover,
.less-button:hover {
  opacity: .7;
}

.level {
  margin: 35px 0px 20px 0px;
  padding-left: 25px;
  border-top: 1px #eee solid;
  border-left: 1px #eee solid;
}


